.navigation-sidebar-option {
    padding: 0 16px 0 16px;
    font-size: 16px;
    color: hsla(0, 0%, 15%, 0.5);
    cursor: pointer;
}

.navigation-sidebar > .navigation-sidebar-option:hover {
    box-shadow: 0 0 1px #252525;
}

.navigation-sidebar-option--highlight {
    color: #252525;
}

.messages-amount--highlight {
    color: #26B4C8;
}

.icon-title, .messages-amount {
    pointer-events: none;
}

.compose-btn {
    padding: 12px 0 12px 0;
    background-color: #26B4C8;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.user-profile-pic {
    width: 64px; 
    height: 64px; 
    background-color: gray; 
    border-radius: 50%; 
    background-image: url('./images/arima.png');
    background-size: cover;
    border: 1px solid hsla(0, 0%, 15%, 0.2);
}

.user-settings-dropdown {
    background-color: white;
    color: #252525;
    border: 1px solid hsla(0, 0%, 15%, 0.2);
    border-radius: 8px;
    font-size: 14px;
}

.nav-column {
    container-name: sidebar;
    container-type: inline-size;
}

@container sidebar (max-width: 200px) {
    .messages-amount {
        display: none;
    }

    .navigation-sidebar-option {
        padding: 0;
    }

    .icon-title {
        width: 100%;
        gap: 0 !important;
        align-items: center;
        flex-direction: column;
        font-size: 28px;
    }

    .navigation-sidebar-option-title {
        font-size: 18px;
        margin-top: -4px;
    }

    .bi-star, .bi-trash {
        font-size: 28px;
    }

    .user-settings-dropdown {
        display: none;
    }

    .compose-btn {
        font-size: 20px;
    }
}




/* Sliding Sidebar */

.navigation-sliding-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background-color: hsla(0, 0%, 15%, 0.5);
    backdrop-filter: blur(8px);
    transition: all 0.3s linear;
    transform: translate(-100%);
}

.navigation-sliding-sidebar > .navigation-sidebar-option {
    color: white;
    padding: 0 24px 0 24px;
    font-size: 24px;
}

.navigation-sliding-sidebar > .compose-btn {
    margin-bottom: 16px;
    font-size: 28px;
}

.navigation-sliding-sidebar > .dropdown > .user-settings-dropdown {
    font-size: 20px;
}

.close-btn {
    position: absolute; 
    top: 0;
    font-size: 64px;
    color: white;
}

.show-sidebar {
    transform: translate(0);
}

/* Sliding Sidebar */