.email-list-container {
    border-left: 2px solid hsla(0, 0%, 15%, 0.2);
    border-right: 2px solid hsla(0, 0%, 15%, 0.2);
    padding: 16px 0 0 0;
    max-height: 100vh;
}

.search-bar {
    position: relative;
    display: flex;
    height: 64px;
    flex-shrink: 0;
    margin: 0 8px 0 8px;
}

.hamburger-menu {
    position: absolute;
    top: 4px;
    left: 12px;
    font-size: 40px;
    color: hsla(0, 0%, 15%, 0.6);
    cursor: pointer;
}

.search-bar__input {
    width: 100%;
    padding: 0 48px 0 56px;
    font-size: 28px;
    border-radius: 8px;
    border: 1px solid hsla(0, 0%, 15%, 0.2);
}

.search-bar__input:focus {
    outline: 2px solid #252525;
}

.search-bar__input::placeholder {
    color: hsla(0, 0%, 15%, 0.6);
}

.search-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 28px;
    color: hsla(0, 0%, 15%, 0.6);
}

.emails-container {
    overflow-y: scroll;
    flex-grow: 1;
    scrollbar-width: none;
    padding: 8px 8px 0 8px;
}

.email-container {
    padding: 0 8px 0 8px;
    border-radius: 8px;
    margin-bottom: 4px;
    cursor: pointer;
}

.email-container:hover {
    outline: 2px solid hsla(0, 0%, 15%, 0.2);
}

.email-container--highlight {
    background-color: hsla(0, 0%, 15%, 0.1);
    border-radius: 8px;
}

.email__profile-pic {
    border: 1px solid hsla(0, 0%, 15%, 0.2);
    width: 48px; 
    height: 48px; 
    border-radius: 50%; 
    flex-shrink: 0;
    object-fit: cover;
}

.email-info-container {
    min-width: 0;
    width: 100%;
}

.email__profile-pic, .email-info-container {
    pointer-events: none;
}

.email-info__name-date {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-date__name {
    color: hsl(0, 0%, 15%);
    font-size: 20px;
    font-weight: bold;
}

.name-date__date {
    color: hsla(0, 0%, 15%, 0.8);
    font-size: 14px;
    font-style: italic;
}

.email-info__subject-title {
    color: hsla(0, 0%, 15%, 0.8);
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email-info__message {
    color: #252525cc;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Remove hamburger menu and adjust padding from search bar input box*/
@media (min-width: 992px) {
    .hamburger-menu {
        display: none;
    }

    .search-bar__input {
        padding-left: 16px;
    }
  }